/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image-color);
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: "IBM", sans-serif;
}

.header {
  display: grid;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.decorated-zone::before {
  inset-block-start: 723px;
  inset-inline-start: 10px;
  border-left: 1px solid var(--decoration_element-color);
  border-bottom: 1px solid var(--decoration_element-color);
}

.decorated-zone::after {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-right: 1px solid var(--decoration_element-color);
  border-top: 1px solid var(--decoration_element-color);
}

.decoration_element {
  justify-self: end;
  margin-right: 10px;
  color: var(--decoration_element-color);
  position: absolute;
  margin-top: 10px;
}

.decoration_element::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decoration_element-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--box-shadow-color);
  margin-left: 10px;
  margin-bottom: 2px;
}

.header__theme-menu-list {
  list-style-type: none;
  margin-top: 39px; /*по макету 39 между контейнерами*/
  margin-right: 10px;
}

.header__theme-menu-button {
  color: var(--menu-button-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-button-border-color);
}

.header__theme-menu-button:hover {
  /*hover*/
  outline: 1px solid var(--menu-button-border-hover-color);
}

.header__theme-menu-button:focus {
  /*focus*/
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-button-border-color);
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.decoration_inscription_no-focus {
  font-size: 116px;
  text-decoration: bold;
  color: var(--decoration_inscription_no-focus-color);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--text-shadow-color);
  font-weight: 700;
  margin-top: 65px;
}

.header__theme-menu {
  justify-self: end;
}

.title {
  background-color: var(--title-background-color);
  font-size: 18px;
  color: var(--subheading-color);
  font-weight: 700;
  line-height: 23.4px;
  width: 355px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
}

.section_title_hard-concentrate {
  margin-top: 40px;
}

.main {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.section_title {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
}

.subheading {
  color: var(--subheading-color);
  background-color: var(--subheading-background-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  margin-top: 20px;
}

.advice_item {
  color: var(--advice_item-color);
  background-color: var(--advice_item-background-color);
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 20px;
}

.section_title,
.subheading_in-pictures {
  /*Что снижает концентрацию внимания? Как концентрироваться лучше,*/
  margin-top: 50px; /*А можно в картинках?*/
}

.subheading_multitasking {
  /*Многозадачность*/
  margin-top: 20px;
}

.subheading_five-advives {
  /*Пять советов*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.word_link {
  color: #f1b2ce;
  text-shadow: 1.5px 1px 0 var(--text-shadow-color);
  text-decoration: none;
}

.word_link:hover {    /*hover убрать ? */
  /*не так работает*/
  text-decoration: underline;
  /*mobile нет курсора*/
  cursor: pointer;
}

.word_link:focus {
  outline: 1px solid var(--menu-word-link-border-color);
  text-decoration: none;
}

.image_container {
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
}

.section_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  font-family: "IBM", monospace;
  margin-top: 10px;
}

.footer {
  font-size: 116px;
  text-decoration: bold;
  color: var(--footer-color);
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  font-weight: 700;
  margin-top: 65px;
  text-align: center;
  margin-top: 286px;
  margin-bottom: 285px;
  margin-left: 14px;
  margin-right: 13px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__theme-menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 146px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .decoration_inscription_no-focus {
    display: inline;
    margin-top: 173px;
    margin-right: 191.16px;
    margin-bottom: 162px;
  }

  .title {
    margin-left: 384px;
    margin-right: 20px;
    margin-bottom: 183px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section_hard-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 60px;
  }

  .section_title_hard-concentrate {
    margin-top: 0px;
    margin-right: 20px;
  }

  .subheading_multitasking-especially-hard-concentrate {
    margin-top: 0px;
    font-size: 18px;
    font-family: monospace;
  }

  .section_title_what-decrease {
    margin-top: 80px;
    margin-right: 512px;
  }

  .section_what_decrease_concentration {
    font-family: monospace;
  }

  .subheading_dopamine {
    margin-top: 20px; /*для выравнивания с заголовком слева, подтянул вверх*/
  }

  .section_title {
    margin-top: 0px;
  }

  .subheading_five-advives {
    margin-top: 0px;
  }

  .subheading_food,
  .subheading_gadget {
    margin-top: 20px;
  }

  .main {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .section_better_concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 80px;
  }

  .subheading_in-pictures {
    margin-top: 80px;
  }

  .footer {
    margin-top: 463px;
    margin-bottom: 462px;
  }
}

@media (min-width: 768px) {
  .image_container {
    display: grid;
    grid-template-areas:
      "image-sunset image-sunset image-ice-cream"
      "image-cassette image-book image-ice-cream"
      "image-cassette image-street image-street";
    gap: 20px;
    margin-top: 20px;
  }

  .image-sunset {
    grid-area: image-sunset;
  }

  .image-ice-cream {
    grid-area: image-ice-cream;
    height: 100%;
    object-fit: cover;
  }

  .image-cassette {
    grid-area: image-cassette;
    height: 100%;
    object-fit: cover;
  }

  .image-book {
    grid-area: image-book;
  }

  .image-street {
    grid-area: image-street;
  }
}

@media (min-width: 1024px) {      /* разрешение 1024px */
  .decorated-zone::before,
  .decorated-zone::after {
    content: "";
    inline-size: 25px;
    block-size: 25px;
    position: absolute;          
  }
  
  .decorated-zone::before {
    inset-block-start: 723px;
    inset-inline-start: 10px;
    border-left: 1px solid var(--decoration_element-color);
    border-bottom: 1px solid var(--decoration_element-color);
  }
  
  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
    border-right: 1px solid var(--decoration_element-color);
    border-top: 1px solid var(--decoration_element-color);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    margin-top: 20px;
  }

  .decoration_element {
    /*REC и навигация по макету отступы 20px, чтобы выровнить их у REC 30px получилось*/
    margin-top: 20px;
    margin-right: 29px;
  }

  .decoration_inscription_no-focus {
    margin-top: 273px;
    font-size: 157px;
  }

  .title {
    margin-left: 513px;
    margin-right: 20px;
    margin-top: 114px;
    margin-bottom: 134px;
    font-size: 18px;
    line-height: 23.4px;
    font-family: monospace;
    width: 491px;
  }

  .break::after {
    content: "\A";
    white-space: pre;
  }

  .section_hard-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 60px;
  }

  .section_title_hard-concentrate {
    margin-top: 0px;
    margin-right: 20px;
  }

  .subheading_multitasking-especially-hard-concentrate {
    margin-top: 0px;
  }

  .section_title_what-decrease {
    grid-area: section_title_what-decrease;
  }

  .subheading_multitasking {
    grid-area: subheading_multitasking;
  }

  .section_text-concentration {
    grid-area: section_text-concentration;
  }

  .subheading_food {
    grid-area: subheading_food;
  }

  .section_text-carbohydrates {
    grid-area: section_text-carbohydrates;
  }

  .subheading_gadget {
    grid-area: subheading_gadget;
  }

  .section_text-gadgets {
    grid-area: section_text-gadgets;
  }

  .section_what_decrease_concentration {
    display: grid;
    grid-template-areas:
      "section_title_what-decrease . ."
      "subheading_multitasking subheading_food subheading_gadget"
      "section_text-concentration section_text-carbohydrates section_text-gadgets";
    gap: 20px;
  }

  .section_better_concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 60px;
  }

  .section_title_how_better_concentrate {
    margin-top: 0px;
    margin-right: 20px;
  }

  .subheading_five-advives {
    margin-top: 0px;
  }

  .subheading_in-pictures {
    margin-top: 80px;
  }

  .footer {
    font-size: 157px;
    margin-top: 319px;
    margin-left: 277px;
    margin-right: 276px;
  }
}
                                             
@media (prefers-color-scheme: light) {    /* не работает. Может не видит light.css или я не так записываю ?*/
  .page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-image: var(--background-image-color);
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: "IBM", sans-serif;
  }

  .decoration_inscription_no-focus {
    font-size: 116px;
    text-decoration: bold;
    color: var(--decoration_inscription_no-focus-color);
    line-height: 95.7px;
    text-shadow: 4px 4px 0 var(--text-shadow-color);
    font-weight: 700;
    margin-top: 65px;
  }
}


@media (color-scheme: light) {  /* не работает*/
  .decoration_element {
    display: none;
  } 
}

/* убирает элемент из обоих версий: и display none и visibility hidden*/
/*
@media (prefers-color-scheme: light) {  
  .decoration_element {
    display: none;
  }
} */


