/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url("../images/cover-image-dark.png");
  background-position: center;
  background-attachment: fixed;
  width: 375px;
  color: #f1b2ce; /* перенести в переменные*/ 
  font-family: "IBM Plex Mono", sans-serif;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
} 

.decoration_element {
  justify-self: end;
  margin-right: 10px;
  color:#FF0070;
  position: absolute;
}

.decoration_element::after {
  content:"";  /*это для точки после REC, но не знаю, что туда писать*/
}

li {
  list-style-type: none;
  margin-top: 39px; /* вроде по макету 39*/
  margin-right: 10px;
}
/* Цвет (День Авто Неон) не применяется ни к списку, ни к следующим классам почему-то?
.header__theme-menu-item {
  color: #FF0070;
}
.header__theme-menu-list {
  color: #FF0070;
}
.button {
  color: #FF0070;
} */

.header__theme-menu-button{
  color: #FF0070; /*цвет поменялся на белом фоне*/
  background-color: /*какое нужно значение, чтобы сливался с темной темой? 
Если делаю темный цвет, то он отличается от макета*/
}

.header__theme-menu-button:not(:last-child) { /*кажется код не применился для нижних отступов между кнопками*/
  margin-bottom: 10px;                        /*попробовала применить и к классу header__theme-menu-button */
}                                             /* и к классу header__theme-menu-item*/
.header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.decoration_inscription_no-focus {
  font-size: 116px;
  text-decoration: bold;
  color: #DB00FF;
  line-height: 95.7px;
  text-shadow: 4px 4px 0 #FF0070;
  font-weight: 700;
  margin-top: 65px;
}

.header__theme-menu {
  justify-self: end;
}

.title {
  background-color: #FF0070;
  font-size: 18px;
  color: #000028;
  font-weight: 700;
  line-height: 23.4px; /*после переноса строк, большое расстояние между строк */ 
  width: 355px;
  /*height: 117px; добавляю высоту - урезает часть текста*/
  margin-left: 10px; /* отступы по 10px, но слева отступ больше */
  margin-right: 10px; /* если paading, тогда справа отступа почти нет*/
  margin-top: 55px;
  /*font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);*/ /*дано в инструкции, почему именно такие значения?*/
}

.section_title_hard-concentrate {
  margin-top: 40px;
}

.main {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 10px; /*кажется, cправа не применился*/
}

.section_title {
  color: #FF0070;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
}

.subheading {
  color: #000028;
  background-color: #FF0070;
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
}

.advice_item {
  color: #000028;
  background-color: #FF0070;
  font-size: 18px;
  line-height: 23.4px;
} 

.section_title, .subheading_in-pictures {  /*Что снижает концентрацию внимания? Как концентрироваться лучше,*/
  margin-top: 50px;                        /*А можно в картинках?*/
}

.subheading_multitasking {   /*Многозадачность*/
  marging-top: 20px;
}

.subheading_five-advives {   /*Пять советов*/
  marging-top: 20px;
  margin-bottom: 20px;
}

.word_link {         /*слова-ссылки, видимо, есть тень, но посмотреть не могу, нажимаю - открывается ссылка*/
  color: #F1B2CE;
  }

a {
  color: #F1B2CE;
}

.word_link:hover{  /*пробовала a.hover - тоже не работает*/
  cursor: pointer;
  background-color: ;
}

.images {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 355px;
  object-fit: contain; /*как выровнять картинки по правому краю ?*/
  justify-content: 
}
