/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {               /*только записала переменные, в стили не вносила, хочу уточнить, верно ли*/
  --text-color: #f1b2ce ;
  --subheading-color: #000028;
  --section-title-color: #FF0070; /*надо ли дублировать цвет (один для текста, второй - для фона)?*/
  --text-background-color: #FF0070; 
  }\

:root { 

}