/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {               
  --main-color: #f1b2ce;
  --decoration_element-color: #ff0070;
  --box-shadow-color: #ff0070;
  --menu-button-color: #ff0070;
  --decoration_inscription_no-focus-color: #db00ff;
  --text-shadow-color: #ff0070;
  --title-background-color:#ff0070;
  --text-color: #f1b2ce ;
  --subheading-color: #000028;
  --advice_item-color: #000028;
  --section-title-color: #FF0070; /*надо дублировать цвет (один для текста, второй - для фона)*/
  --subheading-background-color: #FF0070; 
  --advice_item-background-color: #ff0070;
  --footer-color:#db00ff;
  } 
